.bgMain__gradient {
  background-image: radial-gradient(80% 50% at 50% -20%, var(--bgMain-color), hsla(0, 0%, 100%, 0));
  background-image: radial-gradient(80% 50% at 50% -20%, var(--bgMain-color), hsla(0, 0%, 100%, 0));
}

.bgMain__overlay {
  position: absolute;
  min-height: var(--bg-minH);
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.bgMain__svg {
  stroke: hsla(0, 0%, 100%, .05);
  mask-image: radial-gradient(75% 50% at top center, white, transparent);
  -webkit-mask-image: radial-gradient(75% 50% at top center, #fff, transparent);
}

/* PARTICLES */
.particles-container {
  position: relative;
  padding-top: 4rem;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.particles-container__canvas {
  position: relative;
  height: 32rem;
  left: 0;
  top: 0;
  pointer-events: none;
}